<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MG Pastelería</title>
    <style>
        body {
            background-color: #1a1a1a; 
            color: #ffbbdd;
            margin: 7%;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>

    <header>
        <h1>
            {% block header %}
            Bienvenido a MG Pastelería.
            {% endblock header %}
        </h1>
    </header>

    <main>
        {% include 'core/componentes/navbar.html' %}
        {% block main %}
        {% endblock main %}
    </main>

    <footer>
        {% include 'core/componentes/footer.html' %}
    </footer>

</body>
</html>


<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
    </div>
  </section>
  </body>
</html> -->

