{% extends 'core/base.html' %}
{% load static %}


{% block header %}
<section class="section">
    <div class="container">
        <p class="subtitle">
           <strong>Bienvenido a</strong>
        </p>
      <h1 class="title">
        Pastelería MG
      </h1>
    </div>
  </section>
{% endblock header %}

{% block main %}
    <div>
        <img src="{% static 'core/img/pasteleria_imagen.png' %}"
         alt="imagen"
         width="100%"
         height="auto"
         style="display: block; margin: auto"/>
    </div>
{% endblock main %}
