{% extends 'core/base.html' %}

{% block header %}
    Clientes
{% endblock header %}

{% block main %}

<form action="{% url 'pasteleria:cliente_list' %}" method="get">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit">Buscar</button>
</form>

<button>
    <a href="{% url 'pasteleria:cliente_create' %}">Crear cliente</a>
</button>
    <div>
        {% for cliente in clientes %}
            <li> Nombre: {{cliente.nombre}} 
                <a href="{% url 'pasteleria:cliente_list_detail' cliente.id %}">Detalle</a>    
            </li>

            {% empty %}
            <p>No hay registros.</p>

        {% endfor %}
    </div>   
    <button><a href="{% url 'pasteleria:index' %}"> Volver </a></button>

{% endblock main %}
