{% extends 'core/base.html' %} 

{% block header %}
<section class="section">
    <div class="container">
      
      <h1 class="title">
        Clientes: Lista de clientes
      </h1>
    </div>
  </section>
{% endblock header %}

{% block main %}

<form action="{% url 'pasteleria:cliente_list' %}" method="get" style="margin-bottom: 20px;">
    <input type="text" name="q" placeholder="Buscar..." style="margin-right: 10px;">
    <button type="submit" style="margin: 10px; padding: 10px 20px; background-color: #292828; color: #ffb3d1; border: none; border-radius: 5px;">
        Buscar
    </button>
</form>

<button style="margin: 10px; padding: 10px 20px; background-color: #292828; color: #ffb3d1; border: none; border-radius: 5px;">
    <a href="{% url 'pasteleria:cliente_create' %}" style="text-decoration: none; color: #ffb3d1;">Crear cliente</a>
</button>

<div>
    <ul>
        {% for cliente in clientes %}
            <li> Nombre: {{cliente.nombre}} 
                <button style="margin: 5px; padding: 5px 10px; background-color: #292828; color: #ffb3d1; border: none; border-radius: 5px;">
                    <a href="{% url 'pasteleria:cliente_list_detail' cliente.id %}" style="text-decoration: none; color: #ffb3d1;">Detalle</a>
                </button>   
                <button style="margin: 5px; padding: 5px 10px; background-color: #292828; color: #ffb3d1; border: none; border-radius: 5px;">
                    <a href="{% url 'pasteleria:cliente_update'  cliente.id %}" style="text-decoration: none; color: #ffb3d1;"> Cambiar </a> 
                </button>
                <button style="margin: 5px; padding: 5px 10px; background-color: #292828; color: #ffb3d1; border: none; border-radius: 5px;">
                    <a href="{% url 'pasteleria:cliente_delete' cliente.id %}" style="text-decoration: none; color: #ffb3d1;"> Eliminar</a>
                </button>
            </li>
        {% empty %}
            <p>No hay registros.</p>
        {% endfor %}
    </ul>
</div>

<button style="margin: 10px; padding: 10px 20px; background-color: #292828; color: #ffb3d1; border: none; border-radius: 5px;">
    <a href="{% url 'pasteleria:index' %}" style="text-decoration: none; color: #ffb3d1;"> Volver </a>
</button>

{% endblock main %}