{% extends 'core/base.html' %}

{% block header %}
<section class="section"></section>
    <div class="container">
      
      <h1 class="title">
        Clientes : Detalles.
      </h1>
    </div>
  </section>
    
{% endblock header %}

{% block main %}
    <ul>
        <li>📋Nombre: {{ cliente.nombre }} </li>
        <li>📍Direccion: {{ cliente.direccion }} | 📱Telefono:  {{ cliente.telefono }} | 📨Email: {{ cliente.email }} </li>
    </ul>
    <button><a href="{% url 'pasteleria:cliente_list' %}"> Volver </a></button>

{% endblock main %}