{% extends 'core/base.html' %}

{% block header %}
    Pasteleria
{% endblock header %}

{% block main %}
    


    <div class="acciones">
        <button><a href="{% url 'pasteleria:torta_list' %}">🎂 Tortas</a></button>
        <button><a href="{% url 'pasteleria:cliente_list' %}">👥 Clientes</a></button>
        <button><a href="{% url 'pasteleria:pedido_list' %}">📋 Pedidos</a></button>
    </div>

    <div class="crear">
        <button><a href="{% url 'pasteleria:torta_create' %}"> 🟣 Crear Torta</a></button>
        <button><a href="{% url 'pasteleria:pedido_create' %}"> 🟣 Crear Pedido</a></button>
        <button><a href="{% url 'pasteleria:cliente_create' %}"> 🟣 Crear Cliente</a></button>
    </div>
{% endblock main %}