{% extends 'core/base.html' %}

{% block header %}
    Pedidos: Lista de pedidos
{% endblock header %}

{% block main %}
<form action="{% url 'pasteleria:pedido_list' %}" method="get">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit">Buscar</button>
</form>
<button>
    <a href="{% url 'pasteleria:pedido_create' %}">Crear pedido.</a>
</button>
    <div>
        {% for pedido in pedidos %}
            <p> {{ pedido.nombre }} {{ pedido.torta }} | 📋Cantidad: {{ pedido.cantidad }} | 📅Fecha: {{ pedido.fecha_pedido }} | ⌛Estado de pedido: {{ pedido.estado }}</p>
            <a href="{% url 'pasteleria:pedido_update'  pedido.id %}"> Cambiar </a>
            <a href="{% url 'pasteleria:pedido_delete' pedido.id %}"> Eliminar</a>

            {% empty %}
            <p>No hay registros.</p>

        {% endfor %}
    </div>
    <button><a href="{% url 'pasteleria:index' %}"> Volver </a></button>

{% endblock main %}
