{% extends 'core/base.html' %}

{% block header %}
    Tortas: Lista de tortas
{% endblock header %}

{% block main %}
<form action="{% url 'pasteleria:torta_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    
    <button>
       <a href="{% url 'pasteleria:torta_create' %}">Crear Torta</a>
    </button>
</form>
    <ul>
        {% for torta in tortas %}
            <li> 🎂 {{ torta.nombre }}
            <a href="{% url 'pasteleria:torta_list_detail' torta.id %}">Detalle</a>
            <a href="{% url 'pasteleria:torta_update'  torta.id %}"> Cambiar </a>
            </li>
        {% empty %}
        <p>No hay registros.</p>
            {% endfor %}
    </ul>
    <button><a href="{% url 'pasteleria:index' %}"> Volver </a></button>

{% endblock main %}