{% extends 'core/base.html' %}

{% block header %}
    Tortas: Lista de tortas
{% endblock header %}

{% block main %}
<form action="{% url 'pasteleria:torta_list' %}" method="get" style="margin-bottom: 20px;">
    <input type="text" name="q" placeholder="Buscar..." style="margin-right: 10px;">
    <button type="submit" style="margin: 10px; padding: 10px 20px; background-color: #292828; color: #ffb3d1; border: none; border-radius: 5px;">
        Buscar
    </button>
    
    <button style="margin: 10px; padding: 10px 20px; background-color: #292828; color: #ffb3d1; border: none; border-radius: 5px;">
        <a href="{% url 'pasteleria:torta_create' %}" style="text-decoration: none; color: #ffb3d1;">Crear Torta</a>
    </button>
</form>

<ul>
    {% for torta in tortas %}
        <li> 🎂 {{ torta.nombre }}
            <a href="{% url 'pasteleria:torta_list_detail' torta.id %}">Detalle</a>
            <a href="{% url 'pasteleria:torta_update' torta.id %}"> Cambiar </a>
            <a href="{% url 'pasteleria:torta_delete' torta.id %}"> Eliminar</a>
        </li>
    {% empty %}
        <p>No hay registros.</p>
    {% endfor %}
</ul>

<button style="margin: 10px; padding: 10px 20px; background-color: #292828; color: #ffb3d1; border: none; border-radius: 5px;">
    <a href="{% url 'pasteleria:index' %}" style="text-decoration: none; color: #ffb3d1;"> Volver </a>
</button>

{% endblock main %}