{% extends 'core/base.html' %}

{% block header %}
<section class="section"></section>
    <div class="container">
      
      <h1 class="title">
        Tortas: Detalle de la torta.
      </h1>
    </div>
  </section>
    
{% endblock header %}

{% block main %}
    <ul>
        <li>📋Nombre: {{ torta.nombre }} </li>
        <li>◽Descripcion: {{torta.descripcion}} 💲 {{ torta.precio }} </li>
    </ul>
    <button><a href="{% url 'pasteleria:torta_list' %}"> Volver </a></button>

{% endblock main %}