{% load static %}
   
<div style="margin-bottom: 2%; display: flex; justify-content: center; gap: 1%; background-color: rgb(177, 130, 196);">


    
    <button><a href="{% url 'core:index' %}">🏠Home</a></button>
    {% if user.is_authenticated %}
        
    <button><a href="{% url 'pasteleria:index' %}">📜Pasteleria</a></button>
    <button><a href="#">🟢{{ user.username }}</a></button>


    <a href="{% url 'core:profile' %}">
    <button> 👤{{ user.username }}</button></a>

    {% if user.vendedor.avatar %}
        <img src="{{ user.vendedor.avatar.url }}" alt="avatar" style="height: 20px;">
        {% else %}
        <img src="{% static 'core/img/avatarrr.jpg' %}" alt="avatar" style="height: 20px;">
        
    {% endif %}



    <form action="{% url 'core:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">🔻Logout</button>
    </form>
    
    {% else %}
    <button><a href="{% url 'core:login' %}"> ☑️Login </a></button>
    {% endif %}
</div>
</navbar>